.form-overlay-loader {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 40;

  .spinner {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
